*{margin:0;}

.umd{
    width: 100px;
    height: 100px;
    border: 1px solid green;
    margin: 10%;
    padding: 0 20px;

    box-sizing: border-box;
}


.doisd{
    height: 100px;
    width: 100px;
    display: inline;
    border: 1px solid green;
}

.ums{
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid greenyellow;
}


.tresd, .umse{
    height: 100px;
    width: 100px;
    border: 1px solid rgb(255, 47, 47);

    margin: 8px 0;

    display: inline;

    margin: 0 2px;
}

.tresd{
    margin-bottom:8px ;
}

.umse{
    margin-top: 8px;
}


.margin, .sectmargin{
border: 1px solid red;   


padding:10px 2em 8px 50%;
}


