* {
    margin: 0px;
}

#pao {
    width: 200px;
}

.plao {
    margin: 40px;
    color: blue;
    font-size: 20px;
    background: gray;
}





h1{
    border: 1px solid green;
    margin:200px ;
    padding:60PX ;
}