*{margin:0;}

main{
    color: white;

    background-color: green;
    background-image: url(./htmlum.png);
    background-repeat: no-repeat;
background-position:center;
background-size:contain ;
background-origin:content-box;
background-clip: content-box;
background-attachment: fixed;

padding: 90px;
background: rgb(55, 100, 50) url(./htmlum.png) no-repeat center / contain content-box content-box fixed ;


background:repeating-linear-gradient( yellow,green );
}