body{
    height: 100vh;
}


.box{
    height: 300px;
    width: 400px;
    background-image: url(http://source.unsplash.com/random);
background-repeat:no-repeat ;
background-position: center ;
}



.calc{
    height:calc(40% + 20px);
    width: 400px;
    background-image: url(http://source.unsplash.com/random);
}